.button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #fbd80f;
  box-shadow: 0 0 0.5rem #fbd80f;
  color: #fbd80f;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
  /* color: #fbd80f; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: #004c4c;
}

.exit {
  border-radius: 0.5rem;
  border: 1px solid #004c4c;
  outline: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: #004c4c;
  cursor: pointer;
  background-color: #fbd80f;
  width: fit-content;
  padding: 0.1rem;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
}
.modal {
  position: absolute;
  /* width: min-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 1rem;
  background-color: #004c4c;
  border: 1px solid #fbd80f;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #fbd80f;
  overflow-y: scroll;
  /* scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #004c4c transparent;
  z-index: 100;
}
.modal::-webkit-scrollbar {
  width: 5px;
}
.modal::-webkit-scrollbar-track {
  background: transparent;
}
.modal::-webkit-scrollbar-thumb {
  background-color: #004c4c;
  border-radius: 20px;
  border: transparent;
}
.modalMedium {
  width: 50dvw;
  height: 50dvh;
}
.modalBig {
  width: 70dvw;
  height: 70dvh;
}
.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.modalTitle {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fbd80f;
  align-self: center;
  justify-self: auto;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #004c4c;
  outline: none;
  resize: none;
  font-size: 1.2em;
  font-weight: 400;
  /* color: #fbd80f; */
  background-color: #004c4c;
  border: 1px solid #fbd80f;
  box-shadow: 0 0 0.5rem #fbd80f;
  color: #fbd80f;
  width: 100%;
  max-height: 10dvh;
  overflow-y: scroll;
  /* scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #004c4c transparent;
}
.input::-webkit-scrollbar {
  width: 5px;
}
.input::-webkit-scrollbar-track {
  background: transparent;
}
.input::-webkit-scrollbar-thumb {
  background-color: #004c4c;
  border-radius: 20px;
  border: transparent;
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  /* background-color: #004c4c; */
  z-index: 100;
}
.left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #004c4c;
  z-index: 100;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: #004c4c;
  z-index: 100;
}
/* context menu */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: fit-content;
  background-color: #004c4c;
  z-index: 100;
}
.menuContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  /* border: 1px solid #004c4c; */
}
.menuOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* gap: 0.5rem; */
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fbd80f;
}
.dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 1rem;
  background-color: #004c4c;
  border: 1px solid #004c4c;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #004c4c;
  overflow-y: scroll;
  /* scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #004c4c transparent;
}
.dialog::-webkit-scrollbar {
  width: 5px;
}
.dialog::-webkit-scrollbar-track {
  background: transparent;
}
.dialog::-webkit-scrollbar-thumb {
  background-color: #004c4c;
  border-radius: 20px;
  border: transparent;
}
.dialogInput {
  width: 20dvw;
  height: 10dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.dialogInputTitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fbd80f;
}
.DialogInputDescription {
  font-size: 1rem;
  font-weight: 400;
  color: #fbd80f;
}
.dialogInputAction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
/* chat bubble */
.bubble {
  background-color: #004c4c;
  border: 1px solid #fbd80f;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem #fbd80f;
  color: #fbd80f;
  padding: 1rem;
  margin: 0.5rem;
  font: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  min-width: -webkit-fill-available;
}
.popUp {
  position: absolute;
  width: 75dvw;
  height: 50dvw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 1rem;
  background-color: #004c4c;
  border: 1px solid #fbd80f;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #fbd80f;
  overflow-y: scroll;
}
.popUpTitle {
  font-size: 2.5rem;
  font-weight: 800;
  color: #fbd80f;
  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
}
.popUpText {
  font-size: 1rem;
  font-weight: 400;
  color: #fbd80f;
  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
}
.notifications {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 15rem;
  height: 10rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.notification {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #004c4c;
  border: 1px solid #fbd80f;
}
/* mobile */
@media (max-width: 768px) {
  .modalMedium {
    width: 90dvw;
    height: 90dvh;
  }
  .modalBig {
    width: 100dvw;
    height: 100dvh;
  }
  .drawer {
    width: 75%;
  }
}
